<!DOCTYPE html>
<html>
  <head>
    <title>NRC Report</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <div class='row' id='title'>
            <div class ='col-md-5 col-md-offset-4'>
                <img src="../images/title.png">
            </div>
        </div>
        <div class='row' id='links'>
             <div id='pathways' class="col-md-3">
                <a href="/pathways" ><img src="../images/pathways.png"></a>
             </div>
             <div id='mission' class="col-md-3">
                <a href="#"><img  src="../images/mission.png"></a>
             </div>
             <div id='capabilities' class="col-md-3">
                <a href="#"><img  src="../images/pathways.png"></a>
             </div>
             <div id='trip' class="col-md-3">
                 <a href="#"><img  src="../images/mission.png"></a>
             </div>
        </div>
    </div>
  </body>
</html>
