<!DOCTYPE HTML>
<html>
	<head>
		<title>Mission Elements</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<script src="/javascripts/load_images.js"></script>
		<script src="/javascripts/lists.js"></script>
		<script src="/javascripts/navbar_mission.js"></script>
		<script src="/javascripts/arm_mission.js"></script>
		<script src="/javascripts/moon_mission.js"></script>
		<script src="/javascripts/enhanced_mission.js"></script>
		<link rel="stylesheet" href="/stylesheets/mission.css" />
	</head>	
	<body>
		<div id='mission-content'>
			<div id='animate-area' class='container'>
				<div class='row'>
					<div class='col-md-12 headnav'>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12 canvas'>
					</div>
				</div>
			</div>
			<script> 
				loadNavBar();
				loadARM();
			</script>
		</div>
	</body>
</html>