#capabilities-content	{ 
	width: 100%; 
	height: 100%; 
  	position: fixed; 
  	left: 0px; 
  	top: 0px; 
  	z-index: -1;
	background-image: url("../images/mars_image.jpg");
	background-position: 0px 0px;
  	background-size: 100%;
	background-repeat: repeat-y;
  	overflow: scroll;
}


#capabilities-svg {
	background-color: #996633;
	opacity: 0.85;
}

.left {
	text-align: left;
}

#content {
	text-align: center;
}

.cap-labels {
	font-family: sans-serif;
	font-size: 20px;
}

.main_content {
	background-color: #996633;
	opacity: 0.85;
}

.glow:hover{
	opacity: 0.50;
};

.text-header {
	text-align: center;
}

.nav {
	text-align: center;
}

.d3_tip {
  line-height: 1;
  padding: 5px;
  font-size: 16px;
  font-family: sans-serif;
  background: grey;
  border-radius: 2px;
  border: 2px solid black;
  width: 60px;
  text-align: left;
}

#capa-text {
    background-color: #996633;
}

.capa-text {
	text-align: center;
}