
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

body	{ 
	width: 100%; 
	height: 100%; 
	background-image: url("../images/mars_image.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	-webkit-animation: animatedBackground 40s linear infinite;
	animation: animatedBackground 10s linear infinite;
}

.canvas {
	opacity: 0.85;
}

#pathways {
	background-color: #663300;
}


#drm {
	background-color: #996633;
}

.d3_tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
